<div class="container">
  <h1>Welcome to Edgar's Weather Forecast</h1>
  <p>Type the city you'd like to check</p>
  <%= form_tag :show do -%>
    <div class="form-group">
      <input name="city" class="form-control"></input>
    </div>
    <div><%= submit_tag 'Save', :class => "btn btn-default" %></div>
  <% end -%>
</div>
