// Place all the styles related to the forecast controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.extra-top-margin {
  margin-top: 30px;
}
.mtop-50 {
  margin-top:50px;
}
.row-form {
  margin-top: 80px;
}
.date  {
  margin-bottom:-15px;
  display: block;
}
.btn-find {
  width:100%;
  margin-left: -20px;
}
